body{
    background-color: black;
    align-items: center;
}
.play{
    float: right;
}
.bg{
    width: 50%; 
    margin: 0 auto;
    background-color: lightblue;
    padding: 20px;
    
}
.board {
    height: 400px;
    width: 400px;
    display: block;
    border: 10px solid rgb(0, 0, 0);
  }
  
  
  
  .light-square {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background: #ffffff;
  }
  .dark-square {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background: rgb(0, 0, 0);
  }
  
